@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  flex-direction: row;

  /* used to give room around content to border evenly*/
  padding: 20px;

  /* gap to separate icon from other items evenly */
  gap: 20px;
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-items {
  display: flex;

  /* used to make header, text, and lower buttons vertically aligned?? */
  flex-direction: column;

  /* to make gap between header and text*/
  gap: 9px;

  /* to not flatten icon*/
  flex: 2 1 0;
}

.header {
  /* makes text and close button horizontally aligned */
  display: flex;

  /* to vertically align text and close-button */
  align-items: center; 
  justify-content: space-between;
}

.header-text {
  font-weight: bold;
  font-size: 28px;

}

.text {
  /* to make a gap between text and lower buttons*/
  margin-bottom: 9px;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
  
}

.lower-buttons {
  /* to make continue and cancel buttons horizontally aligned*/
  display: flex;

  /* to place space between buttons */
  gap: 10px;
}
button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}