body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  height: 900px;  
}

.layout {
  display: flex;
  flex-direction: column;


}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;

  font-size: 32px;
  font-weight: 900;

  /* flex properties to center text vertically */
  display: flex;
  align-items: center;
  
  /* to add 16px from edge */
  padding-left: 16px;
}

.footer {
  display: flex;
  flex-direction: row;

  /* to center content*/
  justify-content: center;
  align-items: center;

  height: 72px;
  background: #eee;
  color: darkmagenta;
}

/* contains sidebar and card divs*/
.main {
  /* to place items horizontally */
  display: flex;

  flex-direction: row;

  /* to push footer to bottom???*/
  /*height: 800px;*/

  flex-shrink: 0;


}
.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;

  /* to keep from shrinking*/
  flex-shrink: 0;
  
  font-size: 26px;
}

ul {
  /* to place 16px from edge*/
  padding: 16px;

  /* for no bullet points*/
  list-style: none;

  
}

li {
  color: white;
}

/* contains all card items*/
.all-cards {
  display: flex;
  flex-direction:  row;

  /* to give padding around cards */
  padding: 48px;

  /* to wrap cards in section*/
  flex-wrap: wrap;
 
  
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

  display: flex;
  flex-direction: column;

  /* to keep cards in space */
  flex: 1 1 auto;
  
  /* to give space between each card*/
  margin: 19px;

  font-size: 22px;
  
  padding-left: 15px;
  padding-right: 55px;
  padding-top: 25px;
  
  /* to keep card's shape (suggested from TOP discord search)*/
  width: 30%;

  height: 400px;

  
}