body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.para.small-para {
  font-size: 14px;
}

#cancel-button,
#confirm-button {
  font-size: 20px;
}

#cancel-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#confirm-button {
  background-color: green;
  color: white;
  font-weight: bold;
}

.text {
  color: rgb(0,0,0);
  font-size: 22px;
  font-weight: 100;
}

div .child {
  font-size: 14px;
  font-weight: 800;
}